* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  /*make sure border stays on page*/
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  background-color: #4B3B47;
  position: fixed;
  /* stays at top of page when scrolling*/
  top: 0;
  /* positions at top of page */
  width: 100vw;
  /*added vw instead of %*/
  font-size: large;
  color: #CFD2B2;
  padding: 20px;
  border: 2px solid black;
}

@media (max-width: 500px) {
  .navbar {
    font-size: x-small;
  }
}

.nav-options {
  display: flex;
  grid-gap: 10px;
}

.link-name {
  text-decoration: none;
  color: #E0D8DE;
}

a.link-name:hover {
  color: #6A6262;
  text-decoration: none;
}

a.link-name:active {
  color: #CFD2B2;
}

body {
  background-color: #cff9ff;
  margin: 0px;
}

.contents {
  padding: 16px;
  text-align: center;
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  text-align: center;
}

.all-examples {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  grid-gap: 16px;
}

.examples {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  border-style: solid;
  border-radius: 10px;
  background-color: #598392;
  padding: 5px;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.my-photo {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 8px 0 rgba(0, 0, 0, 0.19);
}

.zoomable {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
  border-style: solid;
  border-width: 2px;
}

img.zoomable:hover {
  transform: scale(2);
}

footer {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 10px;
  font-size: x-small;
  color: #1e555c;
}

.form {
  display: flex;
  justify-content: center;
  padding: 15%;
  background-color: #78c2c3;
  border-style: dotted;
  border-width: 2px;
  border-color: black;
  margin: 10% 20% 10% 20%;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

input[type="text"] {
  border: 2px solid #1e555c;
  border-radius: 5px;
}

input[type="email"] {
  border: 2px solid #1e555c;
  border-radius: 5px;
}

input[type="submit"] {
  border: 2px solid #1e555c;
  border-radius: 5px;
}

.thanks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0%;
  background-color: aliceblue;
  margin: 30%;
  border-style: double;
  border-width: 0.5rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.thanks-2 {
  padding: 10%;
  margin: 10%;
  border-style: dotted;
}

@media (max-width: 500px) {
  .thanks-2 {
    font-size: x-small;
  }
}

@media (max-width: 500px) {
  .all-examples {
    flex-wrap: wrap;
  }
}

.examples img {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}